@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --font-sans: "Poppins", ui-sans-serif, system-ui;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-bgColor: #200b33;
  --color-bgColor2: #1f0833;
  --color-bgColor3: #604b72;
  --color-bgColor4: #bca9cc;
  --color-inputColor: #2c0e48;
  --color-borderColor: #e4a02d;
  --color-borderColor2: #99a1af;
  --color-linkColor: #de9700;
  --color-textColor: #fff;
  --color-btnColor: #420356;
}

@layer components {
  .buttonStyle {
    @apply w-116 h-13 rounded-[0.65rem] bg-btnColor font-semibold text-xl;
  }
  .labelStyle {
    @apply text-textColor text-[1rem] mb-[0.5rem];
  }
  .inputStyle {
    @apply w-full h-[3rem] bg-inputColor rounded-xl border border-textColor opacity-35 font-medium text-[1rem] p-[1rem] focus:outline-none focus:border-borderColor focus:opacity-100 focus:bg-bgColor text-white;
  }
  .selectStyle {
    @apply min-w-[10rem] h-[3rem] bg-inputColor rounded-xl border border-borderColor2 px-4 text-white font-medium opacity-35 cursor-pointer focus:outline-none focus:border-borderColor focus:opacity-100 focus:bg-bgColor;
  }
}
