@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #2c0e48 inset;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 0.75rem;
  transition: background-color 9999s ease-in-out 0s;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --font-sans: "Poppins", ui-sans-serif, system-ui;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-bgColor: #200b33;
  --color-bgColor2: #1f0833;
  --color-bgColor3: #604b72;
  --color-bgColor4: #bca9cc;
  --color-bgColor5: #371650;
  --color-inputColor: #2c0e48;
  --color-borderColor: #e4a02d;
  --color-borderColor2: #99a1af;
  --color-borderColor3: #731675;
  --color-linkColor: #de9700;
  --color-textColor: #fff;
  --color-btnColor: #420356;
  --color-yellowBtnColor: #ffbd0b;
  --color-error-bg: #fee2e2;
  --color-error-border: #f87171;
  --color-error-text: #b91c1c;
  --color-error-button: #ef4444;
  --color-error-button-hover: #dc2626;

  --breakpoint-tablet: 58rem;
}

@layer components {
  .buttonStyle {
    @apply w-auto h-[2.4rem] sm:h-[3rem] rounded-[0.65rem] bg-btnColor font-semibold text-sm sm:text-base md:text-xl cursor-pointer hover:bg-bgColor3 text-white px-4;
  }
  .roundButtonStyle {
    @apply w-[12.5rem] h-13 rounded-[2rem] bg-btnColor font-semibold text-[0.8rem] sm:text-sm text-yellowBtnColor cursor-pointer hover:bg-bgColor3 disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .labelStyle {
    @apply text-textColor text-[1rem] mb-[0.5rem];
  }
  .inputStyle {
    @apply w-full h-[3rem] bg-inputColor rounded-xl border border-textColor/35 font-medium text-[1rem] p-[1rem] focus:outline-none focus:border-borderColor focus:opacity-100 focus:bg-bgColor text-white;
  }
  .selectStyle {
    @apply w-full h-[3rem] bg-inputColor rounded-xl border border-borderColor2/35 px-4 text-white font-medium cursor-pointer focus:outline-none focus:border-borderColor focus:opacity-100 focus:bg-bgColor;
  }
}

@layer utilities {
  .border-gradient {
    border: 3px solid transparent;
    background:
      linear-gradient(#2c0e48, #2c0e48) padding-box,
      linear-gradient(to right, #f2c21b, #c16b08) border-box;
  }
  .bg-gradient {
    background: linear-gradient(
      to bottom,
      #461446 0%,
      #2c063f 66%,
      #731675 100%
    );
  }

}
