@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";


body{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
   --font-sans: 'Poppins', ui-sans-serif, system-ui;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-bgColor: #200B33;
  --color-inputColor: #2C0E48;
  --color-borderColor: #E4A02D;
  --color-linkColor: #DE9700;
  --color-textColor: #fff;
  --color-btnColor: #420356;
 
}



@layer components{
  .buttonStyle{
    @apply w-116 h-13 rounded-[0.65rem] bg-btnColor font-semibold text-xl
  }
  .labelStyle{
    @apply text-textColor text-[1rem] mb-[0.5rem];
  }
  .inputStyle{
    @apply w-full h-[3rem] bg-inputColor rounded-xl border border-textColor opacity-35 font-medium text-[1rem] p-[1rem] focus:outline-none focus:border-borderColor focus:opacity-100 focus:bg-bgColor;
  }
}

