@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";


* {
  box-sizing: border-box;
}

@theme {
  --color-bgColor: #200B33;
  --color-input: #2C0E48;
  --color-border: #E4A02D;
  --color-link: #DE9700;
  --color-textColor: #fff;
  --color-btn: #420356;


  --font-sans: 'Poppins', ui-sans-serif, system-ui;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

@layer components{
  .btn{
    @apply w-116 h-13 rounded-[0.65rem] bg-btn font-semibold text-xl
  }
  .label{
    @apply text-textColor text-[1rem] mb-[0.86rem]
  }
  .input{
    @apply w-[28rem] h-[3rem] bg-input rounded-[1rem] border border-textColor opacity-35 font-medium text-[1rem] p-[1rem] focus:outline-none focus:border-border focus:opacity-100 focus:bg-bgColor
  }
}
